<div class="home">
  <div class="post-list">
    <div class="post" *ngFor="let post of posts">
      <div class="post-header">
        <div class="post-user-img">
          <img src="./assets/user-1.JPG"/>
        </div>
        <p>@{{post.user}}</p>
      </div>

      <div class="post-content">
        <img src="{{post.img}}" class="post-img"/>

        <div class="post-details">
          <p>{{post.title}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec lacinia magna. Praesent sed tempus nulla, ac faucibus erat. Sed iaculis purus id nisl placerat, ac tincidunt orci scelerisque. Quisque hendrerit enim ut ex vulputate, ac convallis magna iaculis. Suspendisse lacus leo, iaculis ac lobortis sed, lacinia in lorem. Pellentesque scelerisque odio ligula, a porttitor neque tempus malesuada. Curabitur sed tincidunt sem. Sed nec nulla nec nunc pretium tincidunt.</p>
          <img src="./assets/icons/like-icon.png" class="post-icon"/>
          <img src="./assets/icons/comment-icon.png" class="post-icon"/>
          <p class="post-likes"> 56 likes</p>
        </div>
      </div>
    </div>

    <div class="post" *ngFor="let post of posts">
      <div class="post-header">
        <div class="post-user-img">
          <img src="./assets/user-1.JPG"/>
        </div>
        <p>@{{post.user}}</p>
      </div>

      <div class="post-content">
        <img src="{{post.img}}" class="post-img"/>

        <div class="post-details">
          <p>{{post.title}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec lacinia magna. Praesent sed tempus nulla, ac faucibus erat. Sed iaculis purus id nisl placerat, ac tincidunt orci scelerisque. Quisque hendrerit enim ut ex vulputate, ac convallis magna iaculis. Suspendisse lacus leo, iaculis ac lobortis sed, lacinia in lorem. Pellentesque scelerisque odio ligula, a porttitor neque tempus malesuada. Curabitur sed tincidunt sem. Sed nec nulla nec nunc pretium tincidunt.</p>
          <img src="./assets/icons/like-icon.png" class="post-icon"/>
          <img src="./assets/icons/comment-icon.png" class="post-icon"/>
          <p class="post-likes"> 56 likes</p>
        </div>
      </div>
    </div>

  </div>
</div>

