@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

body{
  background: conic-gradient(from 180deg at 50% 50%, rgba(53, 78, 91, 0) 0deg, rgba(46, 133, 182, 0.42) 162.67deg, rgba(53, 78, 91, 0) 360deg);
}

mat-toolbar {
  color: #000000;
}

mat-sidenav {
  box-sizing: border-box;
  width: 18%;
  height: 100vh;
  border-right: none;
  background: none;
  color: #000000;
  border-radius: 10px;
}

span {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.content-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

/* CONTENT OF SIDEBAR*/

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height:  100vh;
  background: conic-gradient(from 180deg at 50% 50%, rgba(53, 78, 91, 0) 0deg, rgba(46, 133, 182, 0.42) 162.67deg, rgba(53, 78, 91, 0) 360deg);
}

.mat-drawer-inner-container{
  border-right: 1px solid rgba(48, 140, 192, 0.26);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  border: none;
  margin: 5px 0;
  background: none;
  cursor: pointer;
  padding: 10px 10px 10px 15px;
}

.menu-button:hover{
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.menu-button-is-active, .menu-button-is-active-notification{
  color: #308CC0;
  font-weight: bold!important;
}

.menu-button-is-active-notification{
  background: #071621;
  border-radius: 10px 0 0 10px;
}

.menu-icon {
  margin-right: 8px;
  width:35px;
  height: 35px;
}

mat-icon{
  margin-right: 5px;
}

/* AVATAR */

.avatar-side-bar {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.avatar-side-bar:hover{
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.avatar {
  margin-top: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nickname-sidebar {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #308CC0;
  position: relative;
  margin-left: 14px;
  cursor: pointer;
  margin-top: 4%;
}

.nickname-sidebar:hover{
  color: #299dde;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background: rgba(48, 140, 192, 0.5);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}


/* MODAL */
#Website-name, .modal-header{
  line-height: 30px;
  display: flex;
  margin-left: 5px;
  margin-top: 30px;
  font-family: 'Rubik', sans-serif!important;
  font-style: normal;
  background: none;
  text-shadow: 0px 0px 4px #22a2ea;
  color: #0e191e;
  font-weight: 300;
  font-size: 50px;
}

.modal-header{
  font-size: 40px;
}

.modal-background{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.create-post-modal{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 50%;
  height: fit-content;
  padding: 40px;
  z-index: 10;
  background: #011118;
  box-shadow: 0 0 10px #308CC0;
  border-radius: 20px;
  margin-left: 15%;
}

#notification-bar{
  display: none;
  position: fixed;
  top: 210px;
  left: 250px;
  /*background: rgb(0, 0, 0);*/
  z-index: 15;
  margin-left: 15px;
}

#notification-bar .triangle{
  position: relative;
  left: 0;
  top: 17vh;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 20px solid #071621;
}

.modal-active{
  display: flex!important;
}

.create-post-textarea textarea{
  background: none;
  border: none;
  height: inherit;
  min-height: 180px;
  width: 350px;
  font-family: Inter, sans-serif;
  margin-top: 3px;
  resize: none;
  caret-color: #ffffff;
  color: #308CC0;
}

.create-post-textarea textarea:focus, .modal-search input:focus, .question-input input:focus{
  outline: none;
}

.create-post-textarea img{
  height: 24px;
}

.create-post-textarea{
  display: flex;
  margin-top: 30px;
}


.create-post-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.create-post-footer button{
  padding: 10px 20px;
  border: none;
  font-family: Inter, sans-serif;
  background: linear-gradient(180deg, #308CC0 0%, #5716E0 100%);
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.main-content{
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-header{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 10px;
}

.post-header p{
  height: 30px;
  display: flex;
  margin: 0;
}

.post-user-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-icon{
  width: 24px;
  margin-right: 10px;
}


.create-post-add-photo input{
  display: none;
}

.create-post-add-photo{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  top: 50%;
  color: #308CC0;
  font-weight: bold;
  font-size: 70px;
  font-family: 'Crimson Text', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.create-post-modal-left-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: fit-content;
}

#modal-background-create-post .image-container{
  z-index: 13;
  position: relative;
  left: 20%;
  width: 350px;
  border-radius: 10px;
}

#modal-background-create-post .image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.modal-search{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 35%;
  min-height: 20%;
  height: fit-content;
  max-height: 40vh;
  padding: 40px;
  z-index: 10;
  background: #011118;
  box-shadow: 0 0 10px #308CC0;
  border-radius: 20px;
  margin-left: 5%;
  top: 30%;
}

.modal-search input, .question-input input{
  background: none;
  border: none;
  height: fit-content;
  width: 350px;
  font-family: Inter, sans-serif;
  margin-top: 10px;
  color: #308CC0;
}

.modal-search .user{
  display: flex;
  align-items: center;
}

.modal-search .user p{
  margin-top: 10px;
}

.modal-search .post-user-img{
  width: 34px;
  height: 34px;
}

.modal-search .line{
  height: 2px;
}

.question-input{
  margin-bottom: 20px;
}

.question-input p{
  margin-left: 2px;
  font-size: 12px;
}

.modal-search-inputs{
  display: flex;
  align-items: center;
}

.modal-search-inputs img{
  width: 15px;
  height: 15px;
  margin-top: 7px;
  margin-right: 5px;
}

/*.create-post-add-photo:hover{*/
/*  box-shadow: 0 0 10px #308CC0;*/
/*}*/

.create-post-footer button:hover{
  box-shadow: 0 0 10px #308CC0;
}

.create-post-camera-icon, .create-post-add-photo label{
  width: 25px;
  height: 25px;
  border-radius: 30px;
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post-camera-icon{
  width: 30px;
  height: 30px;
}

.create-post-camera-icon:hover, .create-post-add-photo label:hover{
  background: rgba(0, 0, 0, 0.25);
}

.create-post-camera-icon img, .create-post-add-photo label img{
  height: 90%;
  object-fit: cover;
}

.create-post-add-photo-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.webcam{
  z-index: 11;
  position: relative;
  left: 20%;
  height: fit-content;
  display: flex;
}

.image-container button, .webcam button{
  position: relative;
  left: 90%;
  top: 37px;
  width: 30px;
  height: 30px;
  padding: 3px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  z-index: 13;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webcam button{
  left: 10%;
  top: 10px;
}

.image-container button img, .webcam button img{
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.image-container button:hover, .webcam button:hover{
  background: rgba(0, 0, 0, 0.4);
}

.avatar-side-bar .image-container{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-side-bar .image-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
