<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="content-side">
      <p id="Website-name">SocioLife</p>
      <div class="avatar-side-bar">
        <img class="avatar mat-elevation-z8" src="assets/anime-1.webp">
        <p [routerLink]="['profile']" class="nickname-sidebar">
          @itsanna
        </p>
      </div>
      <button *ngFor="let button of menuButtons, let index = index" [ngClass]=" button.isActive ? 'menu-button-is-active' : ''" class="menu-button" mat-button (click)="chooseMenu($event, index)" routerLink="home">
        <img *ngIf="button.isActive" class="menu-icon" src="{{button.activeIcon}}">
        <img *ngIf="!button.isActive" class="menu-icon" src="{{button.inactiveIcon}}">
        <span>{{button.name}}</span>
      </button>

      <mat-divider></mat-divider>

      <button class="menu-button" mat-button>
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </div>
  </mat-sidenav>

  <div class="modal-background" id="modal-background-create-post" (click)="closeModel($event)">
    <form class="create-post-modal" #postForm="ngForm" (ngSubmit)="createNewPost(postForm.value)">
      <div class="create-post-modal-left-side">
        <div class="post-header">
          <p class="modal-header">Create post</p>

          <div class="create-post-textarea">
            <img class="post-icon" src="assets/icons/icon-edit.png"/>
            <textarea maxlength="2000" name="title" ngModel placeholder="What's news?"></textarea>
          </div>
        </div>

        <div class="question-input">
          <input name="question" ngModel placeholder="Ask something..." maxlength="35" (input)="handlePostQuestion(postForm.value)"/>
          <p>{{questionLength}}/35</p>
        </div>

        <div class="create-post-footer">
          <button type="submit">Post</button>
        </div>
      </div>

      <div class="create-post-add-photo">
        <div *ngIf="newPost.img" class="image-container">
          <img alt="New post photo" src="{{newPost.img}}"/>
        </div>
        <input (change)="onFileSelected($event)" accept="image/*" id="create-post-add-photo" name="img" ngModel
               type="file"/>
        <label *ngIf="!newPost.img" for="create-post-add-photo">+</label>
      </div>

    </form>
  </div>

  <div class="modal-background" id="modal-background-search" (click)="closeModel($event)">
    <div class="modal-search">
      <input type="text" #search name="text" ngModel placeholder="Search" (input)="handleSearch(search.value)"/>

      <mat-divider></mat-divider>

      <div class="user-list" *ngIf="search.value">
        <div class="user" *ngFor="let user of searchingList">
          <div class="post-user-img">
            <img src="./assets/anime-2.jpg" alt="user-image"/>
          </div>
          <p>@{{user.username}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
