<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="content-side">
      <p id="Website-name">SocioLife</p>
      <div class="avatar-side-bar">
        <img class="avatar mat-elevation-z8" src="assets/anime-1.webp">
        <p [routerLink]="['profile']" class="nickname-sidebar">
          @itsanna
        </p>
      </div>
      <button class="menu-button menu-button-is-active" mat-button routerLink="home">
        <img *ngIf="true" class="menu-icon" src="./assets/icons/icon-home-active.png">
        <img *ngIf="false" class="menu-icon" src="./assets/icons/icon-add-inactive.png">
        <span>Home</span>
      </button>

      <button class="menu-button" mat-button routerLink="home">
        <img *ngIf="false" class="menu-icon" src="./assets/icons/icon-search-active.png">
        <img *ngIf="true" class="menu-icon" src="./assets/icons/icon-search-inactive.png">
        <span>Search</span>
      </button>

      <button (click)="openModal($event)" class="menu-button" mat-button routerLink="home">
        <img *ngIf="false" class="menu-icon" src="./assets/icons/icon-add-active.png">
        <img *ngIf="true" class="menu-icon" src="./assets/icons/icon-add-inactive.png">
        <span>Create</span>
      </button>

      <mat-divider></mat-divider>

      <button class="menu-button" mat-button>
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </div>
  </mat-sidenav>

  <div (click)="openModal($event)" class="modal-background" id="modal-background-create-post">
    <form #postForm="ngForm" (ngSubmit)="createNewPost(postForm.value, $event)" class="create-post-modal">
      <div class="create-post-modal-left-side">
        <div class="post-header">
          <p class="modal-header">Create post</p>

          <div class="create-post-textarea">
            <img class="post-icon" src="assets/icons/icon-edit.png"/>
            <textarea maxlength="2000" name="title" ngModel placeholder="What's news?"></textarea>
          </div>
        </div>

        <div class="create-post-footer">
          <button type="submit">Post</button>
        </div>
      </div>

      <div class="create-post-add-photo">
        <div *ngIf="newPost.img" class="image-container">
          <img alt="New post photo" src="{{newPost.img}}"/>
        </div>
        <input (change)="uploadPhoto($event)" accept="image/*" id="create-post-add-photo" name="img" ngModel
               type="file"/>
        <label *ngIf="!newPost.img" for="create-post-add-photo">+</label>
      </div>

    </form>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
