@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

body{
  background: conic-gradient(from 180deg at 50% 50%, rgba(53, 78, 91, 0) 0deg, rgba(46, 133, 182, 0.42) 162.67deg, rgba(53, 78, 91, 0) 360deg);
}

mat-toolbar {
  color: #000000;
}

mat-sidenav {
  box-sizing: border-box;
  width: 18%;
  height: 100vh;
  border-right: none;
  background: none;
  color: #000000;
  border-radius: 10px;
}

span {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.content-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

/* CONTENT OF SIDEBAR*/

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height:  100vh;
  background: conic-gradient(from 180deg at 50% 50%, rgba(53, 78, 91, 0) 0deg, rgba(46, 133, 182, 0.42) 162.67deg, rgba(53, 78, 91, 0) 360deg);
}

.mat-drawer-inner-container{
  border-right: 1px solid rgba(48, 140, 192, 0.26);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  border: none;
  margin: 5px 0;
  background: none;
  cursor: pointer;
  padding: 10px 10px 10px 15px;
}

.menu-button:hover{
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}


.menu-button-is-active{
  color: #308CC0;
  font-weight: bold!important;
}

.menu-icon {
  margin-right: 8px;
  width:35px;
  height: 35px;
}

mat-icon{
  margin-right: 5px;
}

/* AVATAR */

.avatar-side-bar {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
}

.avatar {
  margin-top: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nickname-sidebar {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  top: 16px;
  color: #308CC0;
  position: relative;
  margin-bottom: 14px;
  margin-left: 14px;
  cursor: pointer;
}

.nickname-sidebar:hover{
  color: #299dde;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background: rgba(48, 140, 192, 0.5);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}


/* MODAL */
#Website-name, .modal-header{
  line-height: 30px;
  display: flex;
  margin-left: 5px;
  margin-top: 30px;
  font-family: 'Rubik', sans-serif!important;
  font-style: normal;
  background: none;
  text-shadow: 0px 0px 4px #22a2ea;
  color: #0e191e;
  font-weight: 300;
  font-size: 50px;
}

.modal-header{
  font-size: 40px;
}

.modal-background{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.create-post-modal{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 50%;
  height: fit-content;
  padding: 40px;
  z-index: 10;
  background: #011118;
  box-shadow: 0 0 10px #308CC0;
  border-radius: 20px;
  margin-left: 15%;
}

.modal-active{
  display: flex;
}

.create-post-textarea textarea{
  background: none;
  border: none;
  height: inherit;
  min-height: 180px;
  width: 350px;
  font-family: Inter, sans-serif;
  margin-top: 3px;
  resize: none;
  caret-color: #ffffff;
  color: #308CC0;
}

.create-post-textarea textarea:focus, .modal-search input:focus, .question-input input:focus{
  outline: none;
}

.create-post-textarea img{
  height: 24px;
}

.create-post-textarea{
  display: flex;
  margin-top: 30px;
}


.create-post-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.create-post-footer button{
  padding: 10px 20px;
  border: none;
  font-family: Inter, sans-serif;
  background: linear-gradient(180deg, #308CC0 0%, #5716E0 100%);
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.main-content{
  display: flex;
  justify-content: center;
}

.post-header{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 10px;
}

.post-header p{
  height: 30px;
  display: flex;
  margin: 0;
}

.post-user-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-icon{
  width: 24px;
  margin-right: 10px;
}


.create-post-add-photo input{
  display: none;
}

.create-post-add-photo label {
  background: none;
  border: 1px solid rgba(48, 140, 192, 0.78);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  top: 50%;
  padding: 100px 150px;
  color: #308CC0;
  font-weight: bold;
  font-size: 70px;
  font-family: 'Crimson Text', serif;
}

.create-post-modal-left-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: fit-content;
}

.create-post-add-photo .image-container{
  width: 350px;
  border-radius: 10px;
}

.create-post-add-photo .image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.modal-search{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 35%;
  height: fit-content;
  max-height: 40vh;
  padding: 40px;
  z-index: 10;
  background: #011118;
  box-shadow: 0 0 10px #308CC0;
  border-radius: 20px;
  margin-left: 5%;
  top: 30%;
}

.modal-search input, .question-input input{
  background: none;
  border: none;
  height: fit-content;
  width: 350px;
  font-family: Inter, sans-serif;
  margin-top: 10px;
  color: #308CC0;
}

.modal-search .user{
  display: flex;
  align-items: center;
}

.modal-search .user p{
  margin-top: 10px;
}

.modal-search .post-user-img{
  width: 34px;
  height: 34px;
}

.modal-search .line{
  height: 2px;
}

.question-input{
  margin-bottom: 20px;
}

.question-input p{
  margin-left: 2px;
  font-size: 12px;
}

