<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="content-side">
      <p id="Website-name">SocioLife</p>
      <div class="avatar-side-bar">
        <img class="avatar mat-elevation-z8" src="assets/anime-1.webp">
        <p class="nickname-sidebar">
          @itsanna
        </p>
      </div>
      <button class="menu-button menu-button-is-active" mat-button routerLink="home">
        <img *ngIf="true" class="menu-icon" src="./assets/icons/icon-home-active.png">
        <img *ngIf="false" class="menu-icon" src="./assets/icons/icon-add-inactive.png">
        <span>Home</span>
      </button>

      <button class="menu-button" mat-button routerLink="home">
        <img *ngIf="false" class="menu-icon" src="./assets/icons/icon-search-active.png">
        <img *ngIf="true" class="menu-icon" src="./assets/icons/icon-search-inactive.png">
        <span>Search</span>
      </button>

      <button class="menu-button" mat-button routerLink="home" (click)="openModel($event)" >
        <img *ngIf="false" class="menu-icon" src="./assets/icons/icon-add-active.png">
        <img *ngIf="true" class="menu-icon" src="./assets/icons/icon-add-inactive.png">
        <span>Create</span>
      </button>

      <mat-divider></mat-divider>

      <button class="menu-button" mat-button>
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </div>
  </mat-sidenav>

  <div class="modal-background" id="modal-background-create-post" (click)="openModel($event)">
    <form class="create-post-modal" #postForm="ngForm" (ngSubmit)="createNewPost(postForm.value, $event)">
      <div class="create-post-modal-left-side">
        <div class="post-header">
          <p class="modal-header">Create post</p>

          <div class="create-post-textarea">
            <img src="assets/icons/icon-edit.png" class="post-icon"/>
            <textarea placeholder="What's news?" maxlength="2000" ngModel name="title"></textarea>
          </div>
        </div>

        <div class="create-post-footer">
          <button type="submit">Post</button >
        </div>
      </div>

      <div class="create-post-add-photo">
        <div class="image-container" *ngIf="newPost.img" >
          <img src="{{newPost.img}}" alt="New post photo"/>
        </div>
        <input (change)="uploadPhoto($event)" id="create-post-add-photo" type="file" accept="image/*" ngModel name="img"/>
        <label  *ngIf="!newPost.img" for="create-post-add-photo">+</label>
      </div>

    </form>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
