
.profile-main {
  width: 1000px;
  height: 100vh;

}

.profile-photo {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.profile-info {
  margin-top: 150px;
  background-color: #0F405C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  width: 36px;
  height: 36px;
  position: relative;
  bottom: 45px;
}

.profile-icon:hover {
  width: 36px;
  height: 36px;
  position: relative;
  bottom: 45px;
  cursor: pointer;
}

.profile-content {
  background-color: #0F405C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-profile {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  bottom: 85px;
}

.profile-data {
  display: flex;
  width: 1000px;
  justify-content: space-around;
}

.profile-followers {
  position: relative;
  bottom: 100px;
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  position: relative;
  bottom: 65px;
}


/* POSTS */
.post-list, .post {
  display: flex;
  flex-direction: column;
}

.post-list {
  margin-top: 50px;
}

.post {
  margin: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header p {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0;
  color: #308CC0;
}

.post-user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-img {
  width: 400px;
  height: fit-content;
  margin-right: 30px;
  border-radius: 10px;
}

.post-icon {
  width: 30px;
  margin-right: 10px;
}

.post-content {
  display: flex;
  height: min-content;
}

.post-likes {
  font-size: 13px;
  margin: 0;
}

.post-header p {
  font-weight: 600;
}

.post-details {
  width: 280px;
  height: fit-content;
}

.post-text {
  height: inherit;
}

.post-text p {
  cursor: pointer;
}

.post-content-left {
  height: min-content;
}

/* TEXTS + COMMENTS*/
.text-more {
  display: none;
  margin: 0;
}

.more-button:hover {
  color: #308CC0 !important;
}

.comment-list {
  padding: 10px 0;
  height: 20%;
  max-height: 13vh;
  overflow-y: scroll;
}

.comment-background {
  display: none;
  width: 400px;
  background: linear-gradient(180deg, rgba(48, 140, 192, 0.48) 0%, rgba(87, 22, 224, 0.53) 50%);
  border-radius: 20px;
  margin-bottom: 10px;
}

.comment-active {
  display: flex;
  position: relative;
}

.comment {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.comment p {
  margin: 0;
  font-size: 12px;
}

.account-name {
  font-weight: 500;
}

.comment-account-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
}

.comment-account-image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}

/* MODAL */
.modal-header {
  line-height: 30px;
  display: flex;
  font-family: 'Rubik', sans-serif !important;
  font-style: normal;
  background: none;
  text-shadow: 0px 0px 4px #22a2ea;
  color: #0e191e;
  font-weight: 300;
  font-size: 50px;
}

.change-password-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.change-password-modal-header p {
  color: #308CC0;
}

.modal-header {
  font-size: 32px;
}

.modal-background {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.change-password-modal {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 537px;
  height: fit-content;
  padding: 40px;
  z-index: 10;
  background: #011118;
  box-shadow: 0 0 10px #308CC0;
  border-radius: 20px;
  margin-left: 15%;
}


.modal-active {
  display: flex;
}

.profile-change-password {
  width: 350px;
  height: 60px;
  color: #000000;
  background: #5BAAD7;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.change-password-input img {
  padding: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
}

::placeholder {
  color: #000000;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.change-password-button {
  background: linear-gradient(180deg, #308CC0 0%, #5716E0 100%);
  border-radius: 15px;
  width: 200px;
  height: 38px;
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

/*DROPDOWN */
.dropdown {
  position: relative;
}

.options-list {
  position: absolute;
  left: -150px; /* adjust as needed */
  bottom: 120px;
  padding: 10px;
  background: #0F405C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}
.options-list p{
  color: white;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #308CC0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #308CC0;
}


