<div class="home">
  <div class="post-list">
<!--<<<<<<< HEAD-->
    <div class="post" *ngFor="let post of posts; let postIndex = index">
      <div class="post-content">

        <div class="post-content-left">
          <img src="{{post.img}}" class="post-img"/>
          <div class="comment-list" [attr.id]="'postCommentList'+ postIndex ">

            <div *ngFor="let comment of post.comments" class="comment-background comment-active">
              <div class="comment">
                <div class="comment-account-image">
                  <img src="./assets/anime-2.jpg"/>
                </div>
                <div>
                  <p class="account-name">@{{comment.user}}</p>
                  <p>
                    {{comment.title}}
                  </p>
                </div>
              </div>
            </div>

<!--            <div *ngFor="let comment of post.comments; let commentIndex = index" class="comment-background" [ngClass]="{'comment-active': commentIndexes[postIndex].currentIndex === commentIndex}">-->
<!--              <div class="comment">-->
<!--                <div class="comment-account-image">-->
<!--                  <img src="./assets/anime-2.jpg"/>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <p class="account-name">@{{comment.user}}</p>-->
<!--                  <p>-->
<!--                    {{comment.title.slice(0, 100)}}-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div *ngIf="post.comments.length == 0">-->
<!--              <p class="comment">No comments yet... </p>-->
<!--            </div>-->

          </div>
        </div>

        <div class="post-details">
          <div class="post-header">
            <div class="post-user-img">
              <img src="./assets/anime-1.webp"/>
            </div>
            <p>@{{post.user}}</p>
          </div>

          <div class="post-text">
            <p>{{post.title.slice(0, 100)}}<span *ngIf="post.title.length > 100" class="more-button" (click)="showMoreText($event)" >...more</span></p>
            <p class="text-more" (click)="showMoreText($event)">{{post.title}}</p>
          </div>

          <img src="./assets/icons/icon-like-inactive.png" class="post-icon" (click)="likeThisPost($event, post)"/>
          <img src="./assets/icons/icon-comment.png" class="post-icon"/>
          <p class="post-likes"> 56 likes</p>
        </div>
      </div>
    </div>

  </div>
</div>

