.post-list, .post {
  display: flex;
  flex-direction: column;
}

.post-list {
  margin-top: 10px;
}

.post {
  margin-top: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header p {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0;
  color: #308CC0;
}

.post-user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-img {
  width: 430px;
  height: fit-content;
  border-radius: 10px;
}

.post-icon {
  width: 30px;
  margin-right: 10px;
}

.post-content {
  display: flex;
  height: min-content;
}

.post-likes {
  font-size: 13px;
  margin: 0;
}

.post-header p {
  font-weight: 600;
}

.post-details {
  width: 44%;
  height: 90vh;
  overflow-y: scroll;
  padding-right: 10px;
}

.post-text {
  height: fit-content;
}

.post-text p {
  cursor: pointer;
}

.text-more {
  display: none;
  margin: 0;
}

.more-button:hover {
  color: #308CC0 !important;
}

.comment-list {
  padding: 10px 0;
  margin-top: 10px;
}

.comment-background {
  display: flex;
  width: 400px;
  background: rgba(53, 102, 168, 0.16);
  /*backgrounddddddd*/
  border-radius: 20px;
  margin-bottom: 10px;
}

.comment {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.comment p {
  margin: 0;
  font-size: 12px;
}

.account-name {
  font-weight: 500;
}

.comment-account-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
}

.comment-account-image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}

.post-content-left {
  height: min-content;
  margin-right: 2%;
}

.comment input, .comment button {
  background: none;
  border: none;
  color: #308CC0;
}

.comment input {
  width: 100%;
}

.comment input:focus {
  outline: none;
}

.new-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(48, 140, 192, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(48, 140, 192, 0.4);
}


.class-list-mode{
  background: rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  width: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 7px;
}

.class-list-mode p{
  border-radius: 20px;
  color: white;
  padding: 5px 30px;
  font-weight: lighter;
  margin: 0;
  cursor: pointer;
}

.category-active{
  background: linear-gradient(180deg, #308CC0 0%, #5716E0 100%);
}

.post-home{
  padding-top: 80px;
}

