
<div class="signin-main">
  <p id = "signin-text"> Forgot Password </p>
  <div  class ="outside-line">

    <form class="signin-form" #signinForm="ngForm" (ngSubmit)="restorePassword(signinForm.value, $event)">
      <div>
        <p class = "uppertext">Email</p>
        <div class ="username-frame" id="username-frame">
          <img src="./assets/icons/signup-username.png" alt="email-icon" width=24>
          <input name="username" ngModel placeholder="Your email" type="text">
        </div>
      </div>
      <p id="login-error">Username or password is incorrect</p>
      <button type="submit" id="Entry-txt">Sign in</button>

    </form>
    <div class="frame-signup">
      <p class="no-acc"> First time in our app?
        <a routerLink="/signup" class="link-signup"> Create an account.</a>
      </p>
    </div>
  </div>
</div>

