<div class="signin-main">
  <p id="signin-text"> Sign in </p>
  <div class="outside-line">
    <form #signinForm="ngForm" (ngSubmit)="login(signinForm.value, $event)" class="signin-form">
      <div>
        <p class="uppertext">Username</p>
        <div class="username-frame" [class.login-error]="loginErrorActive">
          <img alt="email-icon" src="./assets/icons/signup-username.png" width=24>
          <input name="username" ngModel placeholder="Your username" type="text">
        </div>
      </div>
      <div>
        <p class="uppertext"> Password</p>
        <div class="password-frame" [class.login-error]="loginErrorActive">
          <img alt="email-icon" src="./assets/icons/signup-password.png" width=24>
          <input name="password" ngModel placeholder="Password" type="password">
        </div>
      </div>

      <p id="login-error" [class.login-error-active]="loginErrorActive">Username or password is incorrect</p>
      <button id="Entry-txt" type="submit">Sign in</button>

    </form>

    <div class="frame-signup">
      <a href="#" routerLink="/forgot-password">
        <p class="forgotten-password"> Forgot your password? </p>
      </a>
      <p class="no-acc"> First time in our app?
        <a class="link-signup" routerLink="/signup"> Create an account.</a>
      </p>

    </div>
  </div>
</div>
