.signup-main {
  display:flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(from 180deg at 50% 50%, rgba(53, 78, 91, 0) 0deg,
    rgba(46, 133, 182, 0.42) 162.67deg, rgba(53, 78, 91, 0) 360deg);
  height: 100% ;
}
.outside-line-signup {
  box-sizing: border-box;
  width: 477px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #308CC0;
  border-radius: 70px;
  padding: 28px 0;
}
#signup-text{
  height: 110px;
  left: 566px;
  margin-left:50px;
  margin-top: 52px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 76px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: none;
  position: absolute;
  top: 0px;
  text-shadow: 0px 0px 8px #308CC0;
  color: #0e191e;
}
.signup-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.frame-signin {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Upper-text{
  color: #308CC0;
  margin-bottom: 2px;
}
.email-frame-signup{
  width: 320px;
  border: none;
  border-radius: 20px;
  background-color: #5BAAD7;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.email-frame-signup  input{
  background: none;
  border: none;
  font-weight: bold ;
  margin-left: 10px;
}
.email-frame-signup  input:focus{
  outline: none;
}
.email-frame-signup input::placeholder{
  color: black;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold ;
  font-size: 12px;
  line-height: 17px;
}

.username-frame-signup{
  width: 320px;
  border: none;
  border-radius: 20px;
  background-color: #5BAAD7;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.username-frame-signup  input{
  background: none;
  border: none;
  font-weight: bold ;
  margin-left: 10px;
}
.username-frame-signup  input:focus{
  outline: none;
}
.username-frame-signup  input::placeholder{
  color: black;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold ;
  font-size: 13px;
  line-height: 17px;
}
.password-frame-signup {
  width: 320px;
  border: none;
  border-radius: 20px;
  background-color: #5BAAD7;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.password-frame-signup  input{
  background: none;
  border: none;
  font-weight: bold ;
  margin-left: 10px;
}
.password-frame-signup  input:focus{
  outline: none;
}
.password-frame-signup  input::placeholder{
  color: black;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold ;
  font-size: 13px;
  line-height: 17px;
}
.password-verif-frame{
  width: 320px;
  border: none;
  border-radius: 20px;
  background-color: #5BAAD7;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.password-verif-frame input{
  background: none;
  border: none;
  font-weight: bold ;
  margin-left: 10px;
}
.password-verif-frame  input:focus{
  outline: none;
}
.password-verif-frame input::placeholder{
  color: black;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold ;
  font-size: 13px;
  line-height: 17px;
}
#signup-button {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: bold ;
  font-size: 13px;
  color: black;
  background-color:#308CC0;
  position: relative;
  width: 240px;
  height: 38px;
  border: none;
  border-radius: 15px;
  margin-bottom: 15px;
  justify-content: center;
}
.frame-signin {
  width: 203px;
  height: 17px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 520;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #308CC0;
}
#have-acc  {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #d9d9d9;
  width: 100%;
  height: 17px;
  display: flex;
}

#have-acc a {
  margin-left: 5px;
  text-decoration: none;
}

#link-signin {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #308CC0;

}


